<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SOSPostoDataContext" connectionString="metadata=res://*/SOSPostoModel.csdl|res://*/SOSPostoModel.ssdl|res://*/SOSPostoModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=123;Persist Security Info=True;database=sos_posto&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>